// --------------------------------------------
//                  Mobile
// --------------------------------------------
nav {
  position: fixed;
  width: 100%;
  top: 0;
  height: 15%;
  background-color: transparent;
  z-index: 1;

  .container-nav {
    padding: 4%;
    display: flex;
    align-items: center;

    .img-container {
      display: inline-block;
      margin-left: 6%;
      margin-top: 1%;

      img {
        width: 38%;
      }
    }
  }

  ul {
    display: none;
    padding: 0 20px;
    overflow: hidden;

    li {
      padding: 10px 0;
      border-bottom: 1px solid white;

      a {
        color: rgb(0, 167, 232);
      }
    }
  }
}

.nav-white {
  background: white;
}

.hidden {
  position: absolute;
  opacity: 0;
}

input:checked~ul {
  display: block;
  background-color: ghostwhite;
}

// --------------------------------------------
//                  Desk
// --------------------------------------------
@media (min-width: 1024px) {
  nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 2%;
    .container-nav {
      padding: 0;
      .img-container {
        margin-left: 13%;
        margin-top: 1%;
        img {
          width: 45%;
        }
      }
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      flex-grow: 1;
      justify-content: flex-end;
      align-items: center;

      li {
        border: none;
        margin-right: 8.5%;

        a {
          font-size: 20px;
          font-weight: 600;
          color: #323A4D;
        }
      }

      li:last-child {
        width: 30%;

        button {
          width: 100%;
        }
      }
    }
  }
  #toggle, #label-menu{
    display: none;
  } 

}
