<nav #headerNav>
    <input id="check" type="checkbox">
    <div class="img-container">
        <img src="../../../assets/img/logo_full_color.svg" alt="logo_full_color.svg">
    </div>

    <ul>
        <li>
            <a href="#home">
                Inicio
            </a>
        </li>
        <li>
            <a href="#section-benefits">
                Beneficios
            </a>
        </li>
        <li>
            <button class="btn btn-secondary" routerLink="/registro">
                Registro
            </button>
        </li>
    </ul>
</nav>