<nav #headerNav>
    <div class="container-nav">
        <label id="label-menu" for="toggle">
            <i class="fas fa-bars fa-2x"></i>
        </label>
        <div class="img-container">
            <img src="../../../assets/img/logo_full_color.svg" alt="logo_full_color.svg">
        </div>
    </div>
    <input type="checkbox" id="toggle" class="hidden">
    <ul id="menu">
        <li>
            <a href="#home">
                Inicio
            </a>
        </li>
        <li>
            <a href="#section-benefits">
                Beneficios
            </a>
        </li>
        <li *ngIf="!isAuth">
            <button class="btn btn-secondary" routerLink="/registro">
                Registro
            </button>
        </li>
        <li *ngIf="isAuth">
            <button class="btn btn-secondary" routerLink="/pokemon">
                Pokemon
            </button>
        </li>
    </ul>
</nav>