<nav>
    <input id="check" type="checkbox">
    <div class="img-container">
        <img width="140px"  src="../../../assets/img/logo_full_color.svg" alt="logo_full_color.svg">
    </div>
    <ul>
     
        <li>
            <a >
                Inicio
            </a>
        </li>
        <li >
            <a href="#section-thanks">
                Beneficios
            </a>
        </li>
        <li>
            <a routerLink="/registro">
                Registro
            </a>
            
        </li>
    </ul>
</nav>