<app-navbar></app-navbar>


<section id="section-welcome" class="section-welcome">
    <div class="container">
        <div class="col-5">
            <h1 class="col-9 m-10">Bienvenido a tu Entrevista Técnica en <span class="color-green">Wolox</span></h1>
        </div>
        <div class="col-7 d-flex jc-center">
            <img class="img-hero" src="../assets/img/img-hero.png" alt="hero">
        </div>
    </div>

</section>


<section id="section-follow">
    <div class="container">
        <div class="col container-follows d-flex jc-center flex-d-col">
            <h1 style="margin: 0;"><span class="color-green">350 + </span> <span class="color-blue">Woloxers</span>
            </h1>
            <p class="color-white">@Wolox</p>
            <div>
                <button>Síguenos</button>
            </div>
        </div>

        <div class="col text-center d-flex ai-center">
            <h1 class="m-10">
                Trabajamos para <span class="color-blue">convertir </span> <span class="color-green">ideas</span> en
                productos</h1>
        </div>
    </div>


</section>

<section id="section-benefits">
    <h2 style="margin: 7% 0;" class="text-center">Entre los beneficios que ofrecemos se encuentran <span class="color-blue">;)</span></h2>
    <div class="container text-center d-flex ai-baseline">

        <div class="col-m-12 col-2">
            <img src="../../../assets/Ic_Hour.svg" alt="">
            <p>Flexibildiad horaria</p>
        </div>
        <div class="col-m-12 col-2">
            <img src="../../../assets/Ic_HomeOffice.svg" alt="">
            <p>Home Office</p>
        </div>
        <div class="col-m-12 col-2">
            <img src="../../../assets/Ic_Workshops.svg" alt="">
            <p>Capacitaciones y workshops</p>
        </div>
        <div class="col-m-12 col-2">
            <img src="../../../assets/Ic_DrinkSnacks.svg" alt="">
            <p>Snacks, frutas y bebidas gratis</p>
        </div>
        <div class="col-m-12 col-2">
            <img src="../../../assets/Ic_laptop.svg" alt="">
            <p>Semana remota</p>
        </div>
        <div class="col-m-12 col-2">
            <img src="../../../assets/Ic_brain.svg" alt="">
            <p>Trabajar en últimas tecnologías</p>
        </div>
    </div>

</section>

<hr>
<section class="text-center" id="section-thanks">
    <h1>Gracias por <span class="color-blue">completar el ejercicio</span></h1>
    <h2>Te invitamos a ver mas información</h2>
    <button>Conocer más</button>
    <!-- <a target="_blank" href="https://www.wolox.com.ar/"></a> -->
</section>

<footer>
    <img src="../../../assets/Ic_Wolox_Footer.svg" alt="">
</footer>