<header class="img-container">
    <img routerLink="/" src="../../../assets/img/logo_full_color.svg" alt="logo_full_color.svg">
</header>
<section class="page">
    <h2>Comparación de pokemons</h2>
    <div class="col-9 section-body container">

        <p *ngIf="listToCompare.length===0">Ningún pokemon seleccionado para comparar </p>
        <ul class="col" *ngFor="let pokemon of listToCompare">
            <li>
                <img [src]="pokemon.sprites.front_default" alt="">
            </li>
            <li><p> <span class="fw-600"> Nombre: </span> {{ pokemon?.name}}  </p>  </li>
            <li><p> <span class="fw-600"> Id: </span> {{ pokemon?.id}}  </p>  </li>
            <li><p> <span class="fw-600"> Altura: </span> {{ pokemon?.height}}  </p>  </li>
            <li><p> <span class="fw-600"> Peso: </span> {{ pokemon?.weight}}  </p>  </li>
            <li *ngFor="let pokemon of pokemon?.types">
                <p> <span class="fw-600"> Tipo{{pokemon.slot}}: </span> {{ pokemon?.type?.name }}  </p>  
            </li>
            <li *ngFor="let pokemon of pokemon?.moves | slice:0:10">
                <p> <span class="fw-600"> Movimiento: </span> {{ pokemon?.move?.name }}  </p>  
            </li>
      
        </ul>

    </div>
    <div class="text-center">
        <button routerLink="/pokemon" class="btn btn-secondary"> VOLVER</button>
    </div>

</section>